#root {
  margin: 0;
}

.App ul {
  list-style: none;
  font-weight: bold;
  margin: 0;
  width: 60%;
}
.App nav {
  list-style: none;
  height: 50px;
  
}
li {
  display: inline-block;
  margin: 10px;
  
  
}

