.posts ul {
    border: 0;
    position: absolute;
    padding: 0;
}

.posts li {
    border: 2px solid lightgray;    
    margin: 0;
    line-height: 2;
    list-style: none;
    padding: 5px 20px;     
    
}
.posts li {
    font-weight: 250;
      
}

.posts {
    width: 60%;
}
