.TheList {       
    margin: 0;
    line-height: 2;    
    padding: 5px 20px;
    font-weight: 250;    
}

.post-list button {
    border: 0;
    background-color: lightskyblue; 
    border-radius: 25px;
    margin-right: 0px;    
    width: 200px;
}

